@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

@font-face {
    font-family: 'tanNimbus';
    src: url('../TAN_Nimbus/Web/TAN-NIMBUS.woff') format('woff');
    font-style: normal;
    font-weight: normal;
  }

*{
    margin: 0;
    padding: 0;
    font-family:'Arimo';
}

ul{
    list-style-type:none;
    display:flex;
    gap:5%;
    padding-right:10%;
}

li{
    display: inline;
    justify-content:space-around;
}

header{
    padding-top:2%;
    background-color:#3a7751;
    padding-bottom: 1%;
    position: sticky;
    top:0;
    z-index:100;
}

.nav-item{
    text-decoration:none;
    color:#e498a0;
    font-size:x-large;
    gap:7px;
    display:inline-flex;
    align-items:center;
    white-space:no-wrap;
    padding-bottom:0;
}

.imgHeader{
    padding-top:0;
    padding-bottom: 0;
    width:40%;
    height:10%;
}

.material-icons {
    line-height: 1;
}

#mainTitle{
    font-family: 'tanNimbus';
    font-size: 10rem;
    color: #f9eee5;
    align-items:center;
}

#main{
    padding:10%;
    padding-bottom: 20%;
    text-align: center;
    display:list-item;
    background-image:url('../img/branding/background.png');
    background-size:cover;
}

.mainSubtitle{
    color: #ffdce0;
    font-size:2rem;
}

.mainSubtitle:last-child{
    font-size:1.5rem;
}

#info{
    background-color: #eec3c7;
    padding:5%;
    color: #3a7751;
}

.flex-style{
    display:flex;
    flex-direction: row;
    flex-wrap: no-wrap;
    margin-bottom:5%;
}

.information{
    margin-left:5%;
    margin-right:5%;
    font-size:larger;
    text-align:justify;
}

.infoTitle{
    font-family: 'tanNimbus';
}

section{
    margin-bottom:5%;
}

iframe{
    margin-top:5%;
    border: 2px solid #3a7751;
}

.gallery{
    display:inline-flex;
    justify-content: center;
}

.shopImg{
    width:17%;
    align-items:center;
}

#drinks{
    padding:5%;
    background-color:#4c8964;
    padding-bottom:2%;
}

.carousel-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    height:100%;
    overflow: hidden;
}

.carousel-container{
    width: 1200px;
    overflow:visible;
    height:100%;
    margin:10%;
}

.carousel{
    display: flex;
    transition: transform 0.5s ease;
    height:100%;
}

.card {
    background: #ffdce0;
    padding: 1rem;
    padding-top:4rem;
    width: 250px;
    margin: 0 10px;
    border-radius: 1rem;
    text-align: center;
    flex-shrink: 0;
    transition: all 0.5s ease;
    position: relative;
    overflow: visible;
    z-index: 1;
  }

.card h3{
    color:#e498a0;
    font-family: 'tanNimbus';
}

.card.highlight h3{
    color:#ffdce0;
    font-family: 'tanNimbus';
    margin:10px;
}

.card p, .card.highlight p{
    color:#3a7751;
    text-align:justify;
    margin:10px;
}

.card b, .card.highlight b{
    color:#de3e5f;
}
  
.card.highlight {
    transform: scale(1.2);
    background-color: #e398a0;
    z-index: 2;
    margin:3%;
    overflow: visible;
}
 
.card img {
    position:absolute;
    top: -25%;
    left: 50%;
    transform: translateX(-50%);
    width: 40%;
    height:auto;
    align-items:center;
}

.nav {
    font-size: 3rem;
    background: none;
    border: none;
    color: #e498a0;
    cursor: pointer;
    z-index: 3;
}

.text{
    display:inline-flex;
    justify-content: space-between;
    width:100%;
    margin-bottom:2%;
}

#drinks h1{
    font-family: 'tanNimbus';
    color: #ffdce0;
}

#obs{
    color: #ffdce0;
    text-align:right;
}

#menu{
    width:100%;
    background-color:#ffdce0;
    padding-left:2%;
    padding-bottom:4%;
    padding-top:4%;
    margin: 0;
    box-sizing: border-box;
}

#menu h1{
    color:#3a7751;
    font-family: 'tanNimbus';
}

.menu-options{
    overflow: hidden;
    margin-top:2%;
    padding-right:0;
    display:flex;
    flex-wrap: wrap;
}

.menu-items{
    width:20%;
    background-color:#9ed0b1;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    padding:1%;
    margin:1%;
    justify-content: space-evenly;
    text-align: justify;
}

.menu-items img{
    width:50%;
    justify-content: center;
    margin:auto;
    display: block;
    margin-bottom:3%;
}

#menu p{
    color:#3a7751;
}

.menu-items h2{
    color:#3a7751;
    font-family: 'tanNimbus';
    text-align:center;
    text-wrap:wrap;
}

footer{
    box-sizing: border-box;
    width:100%;
    padding:3%;
    background-color: #de3e5f;
    display:inline-flex;
    justify-content: space-between;
}

footer h2{
    font-family: 'tanNimbus';
    color:#ffdce0;
}

footer p{
    color:#ffdce0;
}

.formSupport{
    width:140%;
    margin-top:2%;
    display:flex;
    flex-direction: column;
    margin-right: 40%;
}

.contactInput{
    margin:2%;
    height:50px;
    background-color: #e498a0;
    border-radius: 10px;
}

.contactInput::placeholder{
    color:#3a7751;
    font-weight: bold;
    border: none;
}

.contactInput:last-child{
    height:100px;
}

#sendButton{
    margin-top:100%;
    margin-left:30%;
    border: solid 1px #9ed0b1;
    background-color:#9ed0b1;
    color:#3a7751;
    border-radius: 40px;
    height:20%;
    width:160px;
    padding:3px;
    font-size: large;
}